ion-button {
    height: 35px;
    width: 155px;
    margin-top: 10px;
  }
  
  ion-card {
    margin: auto;
    max-width: 300px;
  }
  
  ion-card-content {
    padding: 0;
    margin-bottom: 15px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }