<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  #menu>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >App Skeleton</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card id="Titulo" color="light">
  <ion-card-header id="Cabezal-titulo">
  <div id="container">
    <ion-text>Bienvenido Skeleton App.</ion-text>
  </div>
</ion-card-header>
</ion-card>

<ion-card id="formulario" color="light">
  <ion-card-header id="Cabezal-formulario">
  <div id="container-f">
    <strong>Ingresa tus datos:</strong>
  </div>
      <ion-item>
        <ion-input labelPlacement="floating" type="text" [(ngModel)]="nombre">
          <div slot="label" > Nombre </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" type="text" [(ngModel)]="apellido">
          <div slot="label" > Apellido </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select labelPlacement="floating" label="Nivel de enseñanza" label-placement="Nivel de enseñanza" placeholder="Seleccionar">
          <ion-select-option value="Enseñanza básica">Enseñanza Básica</ion-select-option>
          <ion-select-option value="Enseñanza media">Enseñanza Media</ion-select-option>
          <ion-select-option value="Enseñanza avanzada">Enseñanza Avanzada</ion-select-option>
          <ion-select-option value="ninguna">N/A</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="showPicker = !showPicker">
        <ion-label>Fecha</ion-label>
        <ion-text slot="end">
          {{ formattedString }}
        </ion-text>
      </ion-item>
      <ion-datetime presentation="date" 
        [preferWheel]="true" 
        #datetime *ngIf="showPicker" 
        [value]="dateValue" size="cover"
        (ionChange)="dateChanged(datetime.value)"
        showDefaultButtons = "true"
        (ionCancel)="showPicker = false;">
      </ion-datetime>
  </ion-card-header>
</ion-card>
</ion-content>

<ion-button (click) = "limpiarValores()">Limpiar</ion-button>
<ion-button (click) = "mostrarValores()">Mostrar</ion-button>

